p {
    margin: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 13px -6px;
    top: 0;
}



.nav-link {
    color: black !important;
    font-weight: bold !important;
}

.navbar-brand {
    font-size: 20px !important;
    font-weight: bold !important;
    gap: 2px;
}

.navbar-brand i {
    color: #62D0B6;
    font-size: 55px;
}

.navbar-brand p {
    color: black;
}

/* .cart i {
    color: #ed8a8a;
} */

.nav-input-div {
    width: 50%;
    position: relative;
}

.nav-input-div input {
    width: 100%;
    height: 42px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.def-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 16px;
    color: #a8a8a8;
}

.nav-input-div i.sech-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #a8a8a8;
    right: 0;
}

.navlanks {
    gap: 35px;
}

.navlanks i {
    font-size: 20px;
    background-color: #F8F8F8;
    border-radius: 50%;
    padding: 9px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand-text p:first-of-type {
    font-size: 14px;
    color: #A5A5A5;
    font-weight: 400;
}

.brand-text p:last-of-type {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
}

.nav-cont {
    gap: 5px;
}

.mobil-search {
    display: none;
}

@media (max-width:990px) {


    .the-brand i {
        font-size: 35px;
    }

    .nav-cont i {
        font-size: 22px;
    }

    .navbar-brand p {
        font-size: 13px;
    }

    .navbar .container {
        flex-wrap: nowrap !important;
    }



    .navlanks {
        gap: 0;
    }

    .mobil-search {
        display: block;
        width: 92%;
        position: relative;
        margin: 10px;
    }
}

.cart-num-red span {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    /* left: 75%; */
}

.lang-select {
    margin: 0;
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid #62D0B6;
    padding: 5px;
}

@media(max-width:500px) {
    .nav-cont {
        flex-direction: column;
        align-items: center;
    }

    .brand-text p:first-of-type {
        font-size: 11px;
    }

    .lang-select {
        padding: 0;
    }

    .brand-text p:last-of-type {
        font-size: 11px;
        color: #333333;
        font-weight: 500;
    }
}

.logo-text {
    margin-left: 10px;
}

@media (max-width:400px) {

    .cartlength-en {
        left: 50% !important;
    }
}

.cartlength-en {
    left: 18%;
}


.cart-num-red {
    position: relative;
}

.favlemgth-en {
    left: 65%;
}

@media (max-width:750px) {
    .navbar .container {
        flex-direction: column;

    }


    .navlanks {
        width: 100%;
        justify-content: space-between;
    }

    .navbar {
        padding: 0;
    }
}

@media(max-width:770px) {
    .brand-text p:last-of-type {
        display: none;
    }
}