/* .card-product img {
    max-width: 70%;
    height: 300px;
}

.products-box {
    padding-top: 30px;
}

.card-product {
    max-height: 450px;
    min-height: 450px;
    margin-top: 50px;
    border: none !important;
    border-radius: 10px !important;
}

.card-product p {
    font-size: 23px;
}

.card-product h5 {
    font-size: 35px;
} */