body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  direction: rtl;
}

body.ltr {
  direction: ltr;
}

ul {
  list-style: none;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.addd {
  min-height: 81vh;
}

.cat-bts {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  font-weight: bold !important;
}

@media (max-width:555px) {
  .cat-btn {
    font-size: 8px !important;
  }
}

.product-list h2 {
  margin-bottom: 45px;
}

/* .down-btn {
  background-color: #ed8a8a !important;
  border: none !important;
}

.down-btn:hover {
  background-color: #db7f7f !important;
} */

.dropend li button:hover {
  background-color: #62D0B6;
  transition: 0.2s;
  color: white;
}

.btn-prod {
  background-color: #ed8a8a !important;
  transition: 0.2s !important;
  color: white !important;
}

.btn-prod:hover {
  background-color: #db7f7f !important;
}