body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  background-color: #f8f9fa;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 34px;

  width: 100%;
}

.footer h5 {
  margin: 0;
  color: #b7b7b7;
  font-size: 14px;
}

.footspec {
  color: #ed8a8a !important;
}

.addd {
  min-height: 81vh;
}

.cat-bts {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  font-weight: bold !important;
}

@media (max-width:555px) {
  .cat-btn {
    font-size: 8px !important;
  }
}

.product-list h2 {
  margin-bottom: 45px;
}

.down-btn {
  background-color: #ed8a8a !important;
  border: none !important;
}

.down-btn:hover {
  background-color: #db7f7f !important;
}

.dropend li button:hover {
  background-color: #ed8a8a;
  transition: 0.2s;
  color: white;
}

.btn-prod {
  background-color: #ed8a8a !important;
  transition: 0.2s !important;
  color: white !important;
}

.btn-prod:hover {
  background-color: #db7f7f !important;
}